body {
    background-color: #202c3c;
}

.bg-dark {
    background-color: #202c3c;
}

.navbar-container {
    padding: 0px 200px;
    z-index: 99999;
}

.logo {
    height: 45px;
    width: 75px;
}

.content-container {
    padding: 0px 200px;
}

.button-container {
    background-color: var(--bs-dark);
    border-radius: 30px;
}

.toggle-button {
    border-radius: 30px;
    width: 120px;
    margin: 5px;
}

.game-board {
    background-color: #0f212e;
    text-align: center;
}

.play-button {
    color: black;
    margin-top: 10px;
    width: 100%;
}

.roulette-wheel {    
    -webkit-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
    margin: 20px;
}

.roulette-board {
    z-index: 99999;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }